<!DOCTYPE html>
<html lang="en">

<head>
  <title>AREND 3D Lab</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="icon" type="image/x-icon" href="icon/favicon.ico">


</head>

<body>


  <script type="module">

    import * as THREE from './assets/build/three.module.js';
    import { OrbitControls } from './assets/jsm/controls/OrbitControls.js';
    /*  import { OrbitControlsGizmo } from "./assets/jsm/controls/OrbitControlsGizmo.js";*/
    import { GLTFLoader } from './assets/jsm/loaders/GLTFLoader.js';
    import { RoughnessMipmapper } from './assets/jsm/utils/RoughnessMipmapper.js';
    import { GUI } from './assets/jsm/libs/dat.gui.module.js';

    // Global variables
    var scene,
      camera,
      renderer,
      controls,
      guiData,
      model,
      pointer,
      raycaster,
      objectsettings,
      rotatableModel,
      draggableModel,
      scalableModel,
      wheel;
    const Addobjects = [];
    const ldrawPath = 'assets/models/gltf/';

    const modelFileList = {
      'linear': 'linear.glb',
      'light ball': 'light-ball.glb',
      'arevik': 'arevik_eyelit.glb',
      'arevik-holtun': 'arevik_holtun.glb',
      'arevik-serpens-on': 'arevik_serpens2.glb',
      'arevik-serpens-off': 'arevik_serpens3.glb',
      'bahar-1': 'bahar1.glb',
      'bahar-2': 'bahar2.glb',
      'bahar-3': 'bahar3.glb',
      'helia-mid': 'heliamid.glb',
      'liosa-narrow': 'liosa-narrow.glb',
      'magnetar-angle-dot': 'magnetar-angle-dot.glb',
      'magnetar-surface-rail': 'magnetar-surface-rail.glb',
      'magnetar-pendant-rail': 'magnetar-pendant-rail.glb',
      'magnetar-resisted-rail': 'magnetar-resisted-rail.glb',
      'magnetar-rotate-dot': 'magnetar-rotate-dot.glb',
      'magnetar-spot-65': 'magnetar-spot-65.glb',
      'magnetar-surface-rail': 'magnetar-surface-rail.glb',
      'magnetar-tube': 'magnetar-tube.glb',
      'mirdamad-pendant': 'mirdamad-pendant.glb',
    };
    // Create Scene and lights
    function init() {
      // SCENE
      scene = new THREE.Scene();
      scene.background = new THREE.Color(0x32373C);

      // CAMERA

      camera = new THREE.PerspectiveCamera(50 , window.innerWidth / window.innerHeight , 1 ,  4000);
      camera.position.set(0, window.innerHeight / 100, window.innerWidth);

      // RENDERER
      renderer = new THREE.WebGLRenderer({ antialias: true });
      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(window.innerWidth, window.innerHeight);
      renderer.shadowMap.enabled = true;
      document.body.appendChild(renderer.domElement);

      // CAMERA MOVEMENT CONTROLS
      controls = new OrbitControls(camera, renderer.domElement);
      controls.target.set(0, 0, 0);
      controls.enableDamping = true;
      controls.update();
      controls.enabled = false;


      // LIGHTS
      const dirLight1 = new THREE.DirectionalLight(0xffffff);
      dirLight1.position.set(1, 1, 1);
      scene.add(dirLight1);

      const dirLight = gui.addFolder('DIRECTIONAL AMBIENT LIGHT');
      dirLight.add(dirLight1.position, 'x', -5, 5).step(0.001).listen();
      dirLight.add(dirLight1.position, 'y', -5, 5).step(0.001).listen();
      dirLight.add(dirLight1.position, 'z', -5, 5).step(0.001).listen();
      //dirLight.open();
      /*
      const dirLight2 = new THREE.DirectionalLight(0xF1F7E7);
      dirLight2.position.set(- 1, - 1, - 1);
      scene.add(dirLight2);
      
      const ambientLight = new THREE.AmbientLight(0x222222);
      scene.add(ambientLight);
*/
      // RAYCASTING (mouse functionality)
      raycaster = new THREE.Raycaster();
      pointer = new THREE.Vector2();

      /* const geometry = new THREE.BoxGeometry(window.innerWidth, window.innerHeight, window.innerHeight);
         const material = new THREE.MeshPhongMaterial({
           color: 0xa0adaf,
           shininess: 10,
           specular: 0x111111,
           side: THREE.BackSide
         });
            const mesh = new THREE.Mesh(geometry, material);
         mesh.position.y = 10;
         mesh.receiveShadow = true;
         scene.add(mesh);
       */
      // FLOOR
      /* let floor = new THREE.Mesh(new THREE.BoxBufferGeometry(2000, 3, 2000), new THREE.MeshPhongMaterial({ transparent: true }));
         floor.isDraggable = false;
         scene.add(floor);
      */

      document.getElementById('upload').addEventListener('change', readURL, true);
      function readURL() {
        let file = document.getElementById("upload").files[0];
        let reader = new FileReader();
        reader.onloadend = function () {
          let bgTexture = new THREE.TextureLoader().load(reader.result);
          let floor = new THREE.Mesh(new THREE.BoxBufferGeometry(window.innerWidth * 2, window.innerHeight * 2, 0), new THREE.MeshPhongMaterial({ map: bgTexture, transparent: false }));
          floor.position.set(0, 0, 0);
          floor.scale.set(1, 1, 1);
          floor.rotation.set(Math.PI / 1, 0, -Math.PI);
          floor.isDraggable = false;
          scene.add(floor);
          /*
           mesh = new THREE.Mesh(geometry, material);
           mesh.position.set(10, 10, 10);
           mesh.rotation.set(- Math.PI / 2, 0, 0);
           mesh.scale.set(1, 1, 1);
           */
          // bgTexture.minFilter = THREE.LinearFilter;
          //scene.background = bgTexture;
        }
        if (file) {
          reader.readAsDataURL(file);
        } else {
        }
      }
    }

    guiData = {
      modelFileName: modelFileList['linear'],
    };
    let gui = new GUI();
    var select = gui.addFolder('OBJECT');
    select.add(guiData, 'modelFileName', modelFileList).name('Model').onFinishChange(function () {
      //addModel({ x: 0, y: 0, z: 30 });
    });
    // select.add(controls, 'enabled').name("Enable Orbit Controls");
    select.open();
    /**
     * Adds a simple to the scene
     *
     * @param {string} dir Folder name that holds the .gltf file.
     * @param {Object} pos object containing position data { x: number, y: number, z: number }
     */
    // model


   /* const loadingManager = new THREE.LoadingManager(() => {
      const loadingScreen = document.getElementById('loading-screen');
      loadingScreen.classList.add('fade-out');
      // optional: remove loader from DOM via event listener
      loadingScreen.addEventListener('transitionend', onTransitionEnd);
    });
*/


    function addModel(pos) {
      // use of RoughnessMipmapper is optional
      const roughnessMipmapper = new RoughnessMipmapper(renderer);
      const loader = new GLTFLoader().setPath(ldrawPath);
      loader.load(guiData.modelFileName, function (gltf) {
        model = gltf.scene;
        model.position.set(pos.x, pos.y, pos.z);
        model.traverse(function (child) {
          if (child.material) child.material.metalness = 0; {
            if (child.isMesh) {
              roughnessMipmapper.generateMipmaps(child.material);
            }
          }
        });
        model.scale.set(30, 30, 30);
        model.isDraggable = true;
        model.isRotatable = true;
        scene.add(model);
        Addobjects.push(model);
        roughnessMipmapper.dispose();
      });

    }

    function removemodel() {
      scene.remove(Addobjects[Addobjects.length - 1]);
      Addobjects.pop(model);
    }
    function cleaner() {
      while (Addobjects.length > 0) {
        scene.remove(Addobjects[Addobjects.length - 1]);
        Addobjects.pop(model);
      }
      /* while (scene.children.length > 0) {
         scene.remove(scene.children[0]);
       }*/
    }

    /*
        function addModel(pos) {
          const loader = new GLTFLoader();
          loader.load(`models/gltf/soldier.gltf`, (gltf) => {
            const model = gltf.scene;
            model.position.set(pos.x, pos.y, pos.z);
            model.isDraggable = true;
            model.scale.set(10, 10, 10);
            scene.add(model);
          });
        }
    */
    /**
     * Checks if the user is 'holding' and model.
     * If true, function updates model's location based on mouse postion
     * If false, function does nothing
     */


    function dragModel() {
      // If 'holding' an model, move the model
      if (draggableModel) {
        raycaster.setFromCamera(pointer, camera);
        const found = raycaster.intersectObjects(scene.children);
        if (found.length > 0) {
          for (let obj3d of found) {
            if (!obj3d.object.isDraggablee) {
              draggableModel.position.y = objectsettings.posY = obj3d.point.y;
              draggableModel.position.x = objectsettings.posX = obj3d.point.x;
              break;
            }
          }
        }

      }

    }

    function rotateModel() {
      // If 'holding' an model, Rotate the model
      if (rotatableModel) {
        raycaster.setFromCamera(pointer, camera);
        const foundR = raycaster.intersectObjects(scene.children);
        if (foundR.length > 0) {
          for (let obj3dR of foundR) {
            if (!obj3dR.object.isRotatable) {
              rotatableModel.rotation.z = objectsettings.rotZ = obj3dR.point.y / 500;
              rotatableModel.rotation.y = objectsettings.rotY = obj3dR.point.x / 500;
              break;
            }
          }
        }
      }
    }

    objectsettings = {
      rotX: 0, rotY: 0, rotZ: 0,   // rotation                          
      posX: 0, posY: 0, posZ: 200,    // position
      resetRot: function () { resetRotation() }, // reset rotation
      resetPos: function () { resetPosition() }, // reset position
      adds: function () { addModel({ x: 0, y: 0, z: 200 }) },
      removes: function () { removemodel() },
      clean: function () { cleaner() },
      Visible: false,   // Guide Visibility
      allLabels: false,  // Labels
      scaleX: 30, scaleY: 30, scaleZ: 30, scaleAll: 30,     // Scale
      resScale: function () { resetScale() },         // Reset Scale
      autoRots: true,
      objrot: 0.9,
      'deactivate all': function () { deactivateAllActions() },
      'activate all': function () { activateAllActions() },
      'pause/continue': function () { pauseContinue() },
      'modify time scale': 1.0,
      'reset': function () { resetAll() }, // RESET OBJECT
    };
    select.add(objectsettings, 'adds').name("Insert Selected");
    select.add(objectsettings, 'removes').name("Remove Last OBJ");
    select.add(objectsettings, 'clean').name("Remove All");

    // OBJECT ROTATION FOLDER
    const meRotates = gui.addFolder('ROTATE');

    // OBJECT ROTATION  
    var rotObjx = meRotates.add(objectsettings, 'rotX').min(-6).max(6).step(0.1).listen().name("X - Axis");
    var rotObjy = meRotates.add(objectsettings, 'rotY').min(-6).max(6).step(0.1).listen().name("Y - Axis");
    var rotObjz = meRotates.add(objectsettings, 'rotZ').min(-6).max(6).step(0.1).listen().name("Z - Axis");

    rotObjx.onChange(function (value) { model.rotation.x = value; });
    rotObjy.onChange(function (value) { model.rotation.y = value; });
    rotObjz.onChange(function (value) { model.rotation.z = value; });

    // RESET ROTATION
    meRotates.add(objectsettings, 'resetRot').name("Reset Rotatiton");
    // meRotates.open();

    // POSITION - OBJECT
    var meMoves = gui.addFolder('POSITION');
    var cubeX = meMoves.add(objectsettings, 'posX').min(-500).max(500).step(0.1).listen().name("Position X-Axis");
    var cubeY = meMoves.add(objectsettings, 'posY').min(-window.innerWidth).max(window.innerWidth).step(0.1).listen().name("Position Y-Axis");
    var cubeZ = meMoves.add(objectsettings, 'posZ').min(1).max(window.innerWidth / 2).step(0.1).listen().name("Position Z-Axis");

    cubeX.onChange(function (value) { model.position.x = value; });
    cubeY.onChange(function (value) { model.position.y = value; });
    cubeZ.onChange(function (value) { model.position.z = value; });

    // SCALE - OBJECT   
    var meScales = gui.addFolder('SCALE');
    var ChangeScale = meScales.add(objectsettings, 'scaleAll').min(10).max(100).step(0.001).listen().name("Scale");
    ChangeScale.onChange(function (value) { model.scale.set(value, value, value); });

    // RESET - ROATION
    function resetRotation() {
      controls.reset();
      objectsettings.rotX = 0;
      objectsettings.rotY = 0;
      objectsettings.rotZ = 0;

      model.rotation.x = objectsettings.rotX;
      model.rotation.y = objectsettings.rotY;
      model.rotation.z = objectsettings.rotZ;
    }


    // POSITION - RESET
    meMoves.add(objectsettings, 'resetPos').name("Reset Position");
    //  meMoves.open();


    // SCALE - RESET
    meScales.add(objectsettings, 'resScale').listen().name("Reset Scale");
    // meScales.open();

    // RESET - POSITION
    function resetPosition() {
      controls.reset();
      objectsettings.posX = 0;
      objectsettings.posY = 0;
      objectsettings.posZ = 30;

      model.position.x = objectsettings.posX;
      model.position.y = objectsettings.posY;
      model.position.z = objectsettings.posZ;
    }

    // RESET - SCALE
    function resetScale() {
      controls.reset();
      objectsettings.scaleAll = 10;
      model.scale.set(10, 10, 10);
    }

    // RESET - ALL
    function resetAll() {
      resetRotation();
      resetPosition();
      resetScale();
    }
    // RESET ROTATION
    // meRotates.open();
    gui.close()


    /*   document.addEventListener("mousedown", function (event) {
         if (event.ctrlKey) {
           raycaster.setFromCamera(clickMouse, camera);
           const found = raycaster.intersectObjects(scene.children, true);
         }
       }
       );
   */


    window.addEventListener("contextmenu", (event) => {
      // If 'holding' model on-click, set container to <undefined> to 'drop' the model.
      if (rotatableModel) {
        rotatableModel = undefined;
        return;
      }
      // If NOT 'holding' model on-click, set container to <object> to 'pickup' the model.
      /*  pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
        pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;*/
      raycaster.setFromCamera(pointer, camera);
      const foundR = raycaster.intersectObjects(scene.children, true);


      if (foundR.length) {
        // Cycle upwards through every parent until it reaches the topmost layer
        // This top layer is the group created by the GLTFLoader function
        let currentR = foundR[0].object;
        while (currentR.parent.parent !== null) {
          currentR = currentR.parent;
        }
        if (currentR.isRotatable) {
          rotatableModel = currentR;
        }
      }
    }
    );
    // Hide right click context menus
    window.addEventListener("contextmenu", e => e.preventDefault());


    // Allows user to pick up and drop models on-click events
    window.addEventListener("touchstart", (event) => {
      // If 'holding' model on-click, set container to <undefined> to 'drop' the model.
      if ((draggableModel) || (rotatableModel)) {
        draggableModel = undefined;
        rotatableModel = undefined;
        return;
      }
      // If NOT 'holding' model on-click, set container to <object> to 'pickup' the model.
      /* pointer.x = (event.targetTouches[0].pageX / window.innerWidth) * 2 - 1;
       pointer.y = -(event.targetTouches[0].pageY / window.innerHeight) * 2 + 1;*/
      raycaster.setFromCamera(pointer, camera);
      const found = raycaster.intersectObjects(scene.children, true);
      if (found.length) {
        // Cycle upwards through every parent until it reaches the topmost layer
        // This top layer is the group created by the GLTFLoader function
        let current = found[0].object;
        while (current.parent.parent !== null) {
          current = current.parent;
        }
        if (current.isDraggable) {
          draggableModel = current;
        }
      }
    }
    );

    /* addEventListener("mouseover", function( event ) {
       tapclick.x = (event.clientX / window.innerWidth) * 2 - 1;
       tapclick.y = -(event.clientY / window.innerHeight) * 2 + 1;
       raycaster.setFromCamera(tapclick, camera);
       const X = raycaster.intersectObjects(scene.children, true);
       for (let i = 0; i < X.length; i++) {
         X[i].object.material.color.set(0xff0000);
       }
     }
     );
 
 */
    window.addEventListener("dblclick", (event) => {
      // If 'holding' model on-click, set container to <undefined> to 'drop' the model.
      if ((draggableModel) || (rotatableModel)) {
        draggableModel = undefined;
        rotatableModel = undefined;

        return;
      }

      // If NOT 'holding' model on-click, set container to <object> to 'pickup' the model.
      /*  pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
        pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;*/
      raycaster.setFromCamera(pointer, camera);
      const found = raycaster.intersectObjects(scene.children, true);
      if (found.length) {
        // Cycle upwards through every parent until it reaches the topmost layer
        // This top layer is the group created by the GLTFLoader function
        let current = found[0].object;

        while (current.parent.parent !== null) {
          current = current.parent;
        }
        if (current.isDraggable) {
          draggableModel = current;
        }
      }
    }

    );

    /* window.addEventListener("ontouchmove", (event) => {
     model.rotation.x = event.touches[0].clientX;
     model.rotation.y = event.touches[0].clientY;
         }
      );
  
   
     window.addEventListener("ontouchmove", (event) => {
         touchModel();
         touch.x = event.touches[0].clientX;
         touch.y = event.touches[0].clientY;
       });
   */


    // Constantly updates the mouse location for use in `dragModel()`
    window.addEventListener("touchmove", (event) => {
      dragModel(); // Updates the model's postion everytime the mouse moves
      rotateModel();
      pointer.x = (event.targetTouches[0].pageX / window.innerWidth) * 2 - 1;
      pointer.y = -(event.targetTouches[0].pageY / window.innerHeight) * 2 + 1;
    });

    window.addEventListener("mousemove", (event) => {
      dragModel(); // Updates the model's postion everytime the mouse moves
      rotateModel();
      pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
      pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;
    });



    window.addEventListener("wheel", (event) => {
      model.scale.x += event.deltaY * -0.01;
      model.scale.y += event.deltaY * -0.01;
      model.scale.z += event.deltaY * -0.01;
    }
    );



    /*model.scale.x += event.deltaY * -0.01;
    model.scale.y += event.deltaY * -0.01;
    model.scale.z += event.deltaY * -0.01;*/
    // Restrict scale
    // wheel = Math.min(Math.max(.125, scale), 4);



    // Recursive function to render the scene
    function animate() {
      controls.update();
      renderer.render(scene, camera);
      requestAnimationFrame(animate);
      console.log();

    }

    // Re-renders the scene upon window resize
    function onWindowResize() {
      camera.aspect = window.innerWidth / window.innerHeight;
      camera.updateProjectionMatrix();
      renderer.setSize(window.innerWidth, window.innerHeight);
    }


    // Start the program
    (function () {
      window.addEventListener("resize", onWindowResize, true);
      init();
      animate();
    })
      ();


    function buttonADD(lightname) {
      // use of RoughnessMipmapper is optional
      document.getElementById("showname").innerHTML = lightname;
      const roughnessMipmapper = new RoughnessMipmapper(renderer);
      const loader = new GLTFLoader().setPath(ldrawPath);
      loader.load(lightname, function (gltf) {
        model = gltf.scene;
        model.position.set(0, 0, 200);
        model.traverse(function (child) {
          if (child.material) child.material.metalness = 0; {
            if (child.isMesh) {
              roughnessMipmapper.generateMipmaps(child.material);
            }
          }
        });
        model.scale.set(30, 30, 30);
        model.isDraggable = true;
        model.isRotatable = true;
        scene.add(model);
        Addobjects.push(model);
        roughnessMipmapper.dispose();
      });
    }




  /*  document.getElementById('insert-liosa').addEventListener('click', () => { toast.show(); buttonADD('liosa-narrow.glb'); }, true);
    document.getElementById('insert-mirdamad').addEventListener('click', () => { toast.show(); buttonADD('mirdamad-pendant.glb'); }, true);
    document.getElementById('insert-mirdamad').addEventListener('click', () => { toast.show(); buttonADD('mirdamad-pendant.glb'); }, true);
*/
    document.getElementById('insert-surface-rail').addEventListener('click', () => { toast.show(); buttonADD('magnetar-surface-rail.glb'); }, true);
    document.getElementById('insert-resisted-rail').addEventListener('click', () => { toast.show(); buttonADD('magnetar-resisted-rail.glb'); }, true);
    document.getElementById('insert-pendant-rail').addEventListener('click', () => { toast.show(); buttonADD('magnetar-pendant-rail.glb'); }, true);
    document.getElementById('insert-rotate-dot').addEventListener('click', () => { toast.show(); buttonADD('magnetar-rotate-dot.glb'); }, true);
    document.getElementById('insert-angle-dot').addEventListener('click', () => { toast.show(); buttonADD('magnetar-angle-dot.glb'); }, true);
    document.getElementById('insert-tube').addEventListener('click', () => { toast.show(); buttonADD('magnetar-tube.glb'); }, true);
    document.getElementById('insert-spot').addEventListener('click', () => { toast.show(); buttonADD('magnetar-spot-65.glb'); }, true);


    document.getElementById('insert-holtun').addEventListener('click', () => { toast.show(); buttonADD('arevik_holtun.glb'); }, true);
    document.getElementById('insert-eyelit').addEventListener('click', () => { toast.show(); buttonADD('arevik_eyelit.glb'); }, true);
    document.getElementById('insert-serpens').addEventListener('click', () => { toast.show(); buttonADD('arevik_serpens2.glb'); }, true);
    document.getElementById('insert-heliamid').addEventListener('click', () => { toast.show(); buttonADD('heliamid.glb'); }, true);


    document.getElementById('insert-bahar-1').addEventListener('click', () => { toast.show(); buttonADD('bahar1.glb'); }, true);
    document.getElementById('insert-bahar-2').addEventListener('click', () => { toast.show(); buttonADD('bahar2.glb'); }, true);
    document.getElementById('insert-bahar-3').addEventListener('click', () => { toast.show(); buttonADD('bahar3.glb'); }, true);

    document.getElementById('removeBtn').addEventListener('click', removemodel, true);
    document.getElementById('clsBtn').addEventListener('click', cleaner, true);
    document.getElementById('Reset').addEventListener('click', resetAll, true);

    const fileSelect = document.getElementById("fileSelect"),
      upload = document.getElementById("upload");
    fileSelect.addEventListener("click", function (e) {
      if (upload) {
        upload.click();
      }
    }, false);


    const toastEl = document.getElementById('liveToast');
    const toast = new bootstrap.Toast(toastEl, []);
    const buttonEl = document.getElementById('insert-pendant-rail');
    buttonEl.addEventListener('click', () => toast.show());

  </script>


<script type="text/javascript">
 $(window).on('load', function() {
  var $container = $('.portfolioContainer');
  var $filter = $('#filter');
  $container.isotope({
      filter: '*',
      layoutMode: 'masonry',
      animationOptions: {
          duration: 750,
          easing: 'linear'
      }
  });
  $filter.find('a').click(function() {
      var selector = $(this).attr('data-filter');
      $filter.find('a').removeClass('active');
      $(this).addClass('active');
      $container.isotope({
          filter: selector,
          animationOptions: {
              animationDuration: 750,
              easing: 'linear',
              queue: false,
          }
      });
      return false;
  });
});
</script>

  <div id="logo" class="row">
    <img src="assets/models/img/AREND-logo-old.svg" style="width: 100px;" alt="logo">
  </div>


  <div class="position-fixed top-0 end-0 me-2 mt-2" style="z-index: 10">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
      data-bs-autohide="true">
      <div class="toast-header">
        <i class="fa fa-cube me-2"></i>
        <strong class="me-auto">3D lighting lab</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <small> [<span id="showname"> </span>] file successfully added to page!</small>
      </div>
    </div>
  </div>


  
  <div id="circularMenu" class="circular-menu">
    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
      <i class="fa fa-plus"></i>
    </a>

    <menu class="items-wrapper">
      <a href="#" class="menu-item fa fa-window-minimize" data-bs-toggle="modal" data-bs-target="#linear"></a>
      <a href="#" class="menu-item fa fa-magnet" data-bs-toggle="modal" data-bs-target="#magnetar"></a>
      <a href="#" class="menu-item fa fa-star" data-bs-toggle="modal" data-bs-target="#deco"></a>
      <a href="#" class="menu-item fa fa-circle-o" data-bs-toggle="modal" data-bs-target="#other">
      </a>
    </menu>

  </div>
  <div id="circularMenu1" class="circular-menu circular-menu-left">
    <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
      <i class="fa fa-bars"></i>
    </a>
    <menu class="items-wrapper">
      <a href="#" class="menu-item fa fa-camera" id="fileSelect"></a>
      <a href="#" class="menu-item fa fa-trash" (click)="cleaner();" id="clsBtn"></a>
      <a href="#" class="menu-item fa fa fa-undo" (click)="resetAll();" id="Reset"></a>
      <a href="#" class="menu-item fa fa-cog fa-backward" click)="removemodel();" id="removeBtn"></a>
    </menu>
    <input type="file" id="upload" style="display:none">
  </div>



<!-- Modal -->
<div class=" modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>







  <!-- Modal -->
  <div class="modal fade" id="linear" role="dialog">
    <div class="modal-dialog modal-fullscreen">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Linear Family</h4>
        </div>
        <div class="modal-body">
          <p>Tap/Click on product for instert to page</p>
          <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <ul class="col container-filter portfolioFilte list-unstyled mb-0" id="filter">
                                <li><a class="categories active" data-filter="*">All</a></li>
                                <li><a class="categories" data-filter=".branding">Branding</a></li>
                                <li><a class="categories" data-filter=".design">Design</a></li>
                                <li><a class="categories" data-filter=".photo">Photo</a></li>
                                <li><a class="categories" data-filter=".coffee">coffee</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        
                <div class="port portfolio-masonry mt-4">
                    <div class="portfolioContainer row photo">
                        <div class="col-lg-4 p-4 ">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Branding</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Nonsensical content</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding coffee">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Coffee</p>
                                            <h6 class="text-dark mt-1 text-uppercase">PageMaker including</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding photo">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Lebles</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding design photo">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Card</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 design photo">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Pepers</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding design coffee">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Bottle</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding design">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Watch</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding design photo coffee">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Milk</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
        
                        <div class="col-lg-4 p-4 branding design photo coffee">
                            <div class="item-box">
                                <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                                    <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="text-dark mb-0">Milk</p>
                                            <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

          
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="magnetar" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">MAGNETAR Family</h4>
        </div>
        <div class="modal-body">
          <p>Tap/Click on product for instert to page</p>
          <div class="container">
            <div class="row row-cols-3 row-cols-lg-3 g-2 g-lg-3">
              <div class="col">
                <img id="insert-pendant-rail" src="assets/models/img/Magnetar-pendant-rail.png" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-resisted-rail" src="assets/models/img/magnetar-resisted-rail.png" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-surface-rail" src="assets/models/img/magnetar-surface-rail.png" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-rotate-dot" src="assets/models/img/magnetar-rotate-dot.png" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-angle-dot" src="assets/models/img/magnetar-angle-dot.jpg" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-tube" src="assets/models/img/magnetar-tube.png" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-spot" src="assets/models/img/magnetar-spot-65.png" (click)="function();"
                  class="img-thumbnail" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deco" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Decorative Family</h4>
        </div>
        <div class="modal-body">
          <p>Tap/Click on product for instert to page</p>
          <div class="container">
            <div class="row row-cols-3 row-cols-lg-3 g-2 g-lg-3">
              <div class="col">
                <img id="insert-eyelit" src="assets/models/img/arevik_eyelit.jpg" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-holtun" src="assets/models/img/arevik_holtun.jpg" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-serpens" src="assets/models/img/arevik_serpens.jpg" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
              <div class="col">
                <img id="insert-heliamid" src="assets/models/img/heliamid.jpg" class="img-thumbnail"
                  (click)="function();" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="other" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Linear Family</h4>
        </div>
        <div class="modal-body">
          <p>Tap/Click on product for instert to page</p>
          <div class="container">
            <div class="row row-cols-3 row-cols-lg-3 g-2 g-lg-3">

              <div class="col">
                <img id="insert-bahar-1" src="assets/models/img/bahar1.png" class="img-thumbnail" (click)="function();"
                  alt="...">
              </div>

              <div class="col">
                <img id="insert-bahar-2" src="assets/models/img/bahar2.png" class="img-thumbnail" (click)="function();"
                  alt="...">
              </div>


              <div class="col">
                <img id="insert-bahar-3" src="assets/models/img/bahar3.png" class="img-thumbnail" (click)="function();"
                  alt="...">
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/bootstrap/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/slider.js"></script>

</body>
</html>